[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlamp = "*"
sqlalchemy = "*"
sqlalchemy-utils = "*"
cerberus = "*"
flask = "*"
flask-cors = "*"
flask-jwt = "*"
pip = "*"
flask-jwt-extended = "*"

[dev-packages]

[requires]
python_version = "3.6"
