[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
flask-cors = "*"
flask-jwt-extended = "*"
sqlalchemy-utils = "*"
sqlamp = "*"
pymysql = "*"
passlib = "*"
schema = "*"
alembic = "*"
pre-commit = "*"
pg8000 = "*"
autopep8 = "*"
gunicorn = "*"
loguru = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.7"
